@media (min-width: 1024px) {
  .profile-header {
    margin: 12% auto;
    height: 400px;
    width: 30%;
    background-image: url("/images/axiom-pattern.png");
    background-color: #fdca3e;
  }
}

/* MOBILE BREAKPOINTS */
@media (max-width: 1023px) {
  .profile-header {
    height: 500px;
    width: 100%;
    background-image: url("/images/axiom-pattern.png");
    background-color: #fdca3e;
  }
}

.profile-header div {
  width: 256px;
  margin: 0 auto;
  text-align: center;
}

.profile-header img {
  padding-top: 14%;
}

.profile-header h2 {
  margin-top: 5%;
}
