nav {
  position: sticky;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 1000;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
}

nav > span {
  font-family: 'Bungee', cursive;
}

nav .compose-button {
  float: right;
  transition: transform 1s ease-in-out;
}

nav .compose-button:hover {
  transform: translate(0, -10px);
}

nav div span {
  font-weight: 600;
}

nav img {
  display: block;
  height: 15%;
  width: 15%;
  margin: 0 auto;
}