.new-tweet {
  font-family: 'Bungee', cursive;
}

form textarea {
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: solid;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 20px;
  resize: none;
}

textarea:focus {
  outline: none;
}

input[type="submit"] {
  border: none;
  padding: 4px 12px;
  background-color: #4056a1;
  color: #ffffff;
  font-size: 24px;
}

form {
  position: relative;
}

form span {
  position: absolute;
  right: 0;
  font-size: 24px;
}