.new-tweet {
  font-family: 'Bungee', cursive;
  margin: 30px 0;
}

.new-tweet textarea {
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: solid;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 20px;
  resize: none;
}

.new-tweet textarea:focus {
  outline: none;
}

.new-tweet input[type="submit"] {
  border: none;
  padding: 4px 12px;
  background-color: #4056a1;
  color: #ffffff;
  font-size: 24px;
}

.new-tweet input[type="submit"]:hover {
  background-color: #ffffff;
  color: #4056a1;
  border: 1px solid #4056a1;
}

.new-tweet input[type="submit"].active {
  transform: rotate(360000deg);
  transition: transform 0.5s ease-in-out;
}

/* .new-tweet input[type="submit"]:active {
  transform: rotate(20deg);
  
  transform: rotate(360deg);
  transition: transform 1s ease-in-out;
  
  transform: rotate(90deg);
  transform: translate(2px, 5px);
} */

.new-tweet form {
  position: relative;
}

.new-tweet span {
  position: absolute;
  right: 0;
  font-size: 24px;
}